@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body {
    background: rgb(211, 211, 211);
}

.App {
  text-align: center;
}

h2{
  font-family: 'Gloria Hallelujah', cursive;
}

.headerRow {
  border: 1px solid grey;
}

.profile-image {
  width: 35px;
  height:35px;
  margin-right: 10px;
}

.cell {
  border: 1px solid grey;
}

.boardHeader {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid grey;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background: rgb(0, 170, 11);
}
